<div align="center">
  <%= form_with url: post_comments_path(@post), scope: :comment, remote: true do |form| %>
    <%= form.text_area :content %>
    <%= form.submit t('.submit'), 'data-turbolinks-action': "replace" %>
  <% end %>
</div>