<% @post = @comment.post %>

<%= image_tag attachments['logo.png'].url, class: "email-logo" %>

<div class="content">
  <p class="main-content"><%= t("comment_mailer.notify_parent.main_content", site_name: ENV['SITE_NAME'])&.html_safe %></p>

  <p class="other-content"><%= t("comment_mailer.notify_parent.follow_link", post: @post.title) %></p>

  <%= link_to @post.title, post_url_with_slug(@post), class: "click-button" %>
</div>
