<div class="search">
  <form action="http://www.baidu.com/s" method="get" name="searchform" target="_blank">
    <input name="q6" type="hidden" value="<%= request.host %>">
    <input class="search-input" autocomplete="on" name="q1" required="required" type="text" placeholder="Search on Baidu" />
    <button type="submit" hidden>Search</button>
  </form>
  <i class="icon-search"></i>
</div>
