<div
  class="tag-container"
>
  <div
    class="slick row"
    data-slick='{"slidesToShow": 5, "slidesToScroll": 4}'
    class="tags-flow"
  >
    <% tags.each do |tag| %>
      <div
        class="col-sm tag-div"
        style=""
      >
        <div
          class="tag-button"
          aria-label="Close"
          data-choose="false"
          data-name="<%= tag.name %>"
        >
          <%= tag.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
