//@import '~bootstrap/dist/css/bootstrap';
@import '~bootstrap/scss/bootstrap';
@import './rouge';

.tag {
  display: inline;

  &:before {
    content: '·';
    margin: 0 5px;
  }

  &:first-child:before {
    content: none;
  }
}