<div class="post-share-icons <%= classname %>">
  <a class="twitter-share-button share-circle" href="<%= share2twitter(@post) %>" target="_blank">
    <i class="icon-twitter"></i>
  </a>

  <a class="twitter-share-button share-circle" href="<%= share2weibo(@post) %>" target="_blank">
    <i class="icon-weibo"></i>
  </a>

  <a class="twitter-share-button share-circle" href="<%= share2weibo(@post) %>" target="_blank" data-toggle="modal" data-target="#wechat-share-modal">
    <i class="icon-wechat"></i>
  </a>

</div>