<%= render 'shared/navbar' %>

<div class="blog-jumbotron">
  占个地方
</div>
<div class="tags">
  <%= render "tags/tags", tags: sort_tags(params[:tags]) %>
</div>


<div id="posts" class="posts">
  <%= render 'list', posts: @posts %>
</div>

