<div class="jumbotron jumbotron-fluid jumbotron-video">
  <div class="container">
    <h1 class="display-4">占个地方</h1>
  </div>
</div>

<div class="tags">
  <%= render "tags/tags", tags: sort_tags(params[:tags]) %>
</div>


<div id="posts">
  <%= render 'list', posts: @posts %>
</div>

