<!--<div class="blog-jumbotron">-->
  <!--占个地方-->
<!--</div>-->

<div class="main-body">
  <% unless params[:author].nil? %>
    <%= render "authors/info" %>
  <% end %>

  <div class="tags">
    <%= render "tags/tags", tags: sort_tags(params[:tags]) %>
  </div>
  <div id="posts" class="posts">
    <%= render 'list', posts: @posts %>
  </div>
</div>

<div class="container paginate">
  <div style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">
      <%= paginate @posts, window: 1, outer_window: 1 %>
    </div>
  </div>
</div>