<%= image_tag attachments['logo.png'].url, class: "email-logo" %>

<div class="content">
  <p class="main-content"><%= t("password_reset.main_content", site_name: ENV['SITE_NAME'])&.html_safe %></p>

  <p class="other-content"><%= t("password_reset.follow_link") %></p>

  <%= link_to t("password_reset.click_here"), edit_password_reset_url(@author.reset_token, email: @author.email), class: "click-button" %>
</div>
