//@import '~bootstrap/dist/css/bootstrap';
@import '~bootstrap/scss/bootstrap';
@import '~ladda/css/ladda';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
@import './rouge';
@import './font-awesome';
@import './layout.scss';
@import './common.scss';
@import './header.scss';
@import './post.scss';
@import './post-form';
@import "./authors";

// footer
.footer {
  height: 6rem;
  line-height: 6rem;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}

// body

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f2f2f2;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
}

// pagination

.page-number {
  width: 1rem;
  height: 1rem;
  padding: 8px;
  color: #666;
}

.page-circle {
  border-radius: 50%;
  //behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 1rem;
  height: 1rem;
  padding: 8px;
  background: #fff;
  border: 2px solid #00cee8;
  color: #666;
  text-align: center;
  //font: 32px Arial, sans-serif;
}

// navbar

.nav-link.active {
  border-bottom: 0.4rem solid #00cee8 !important;
}
