//@import '~bootstrap/dist/css/bootstrap';
@import '~bootstrap/scss/bootstrap';
@import '~ladda/css/ladda';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
@import '~toastr/toastr';
@import "./size";
@import './rouge';
@import './layout.scss';
@import './common.scss';
@import './header.scss';
@import './post.scss';
@import './post-form';
@import './authors';
@import './post-show';
@import './author-edit';
@import './author-info';
@import "./login-page";
@import "./slideout";
@import "./mobile-sidebar";
// icomoon
@import "../icomoon/style";

@media screen and (max-width: 1440px) {
  html, body {
    font-size: 10px;
  }
}

//@media screen and (max-width: 100px) {
//  html, body {
//    font-size: 8.33px !important;
//  }
//}

// body

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f2f2f2;
  min-height: 100vh;
  position: relative;
  margin: 0;
  //padding-bottom: 6rem;
  font-family: Helvetica, "PingFang SC", sans-serif;
}

a {
  &:hover {
    text-decoration: none;
  }
}

// bootstrap
input:focus, textarea:focus {
  outline: none;
  //border-color: #cfdc00;
  //box-shadow: 0 0 5px rgba(207, 220, 0, 0.4);
  //border-radius: 5px;
}

button:focus {
  outline: none;
}

.main-content {
  min-height: 100vh;
}

// pagination

.paginate {
  margin-bottom: 130px;
}

.page-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #666;
  margin: 0 5px;
  width: auto;
  min-width: 45px;
  height: 45px;
}

.page-word {
  font-size: 20px;
}

.page-number, .page-word {
  &:hover, &:active {
    color: #00BCD4;
  }
}

.page-circle {
  background: #fff;
  border: 2px solid #00cee8;
  border-radius: 50%;
}

// navbar

.nav-link.active {
  border-bottom: 0.4rem solid #00cee8 !important;
}

.post-button-icon.icon-close::before {
  color: $highlight;
  font-size: 1.8rem;
}

.post-show {
  .post-button-icon.icon-publish::before {
    color: $highlight;
  }
}

// footer

.footer {
  text-align: center;
  background: $bg-dark;
  color: $white;
  width: 100%;
  height: 180 * $w;
  line-height: 180 * $w;
  font-size: 1.875rem;
  min-height: 90px;

  .footer-text {
    text-align: left;
  }
}

@media screen and (max-width: 1080px) {
  .footer {
    font-size: 3rem;
    height: 100px;
    line-height: 100px;
  }
}

@media screen and (max-device-width: 1080px) {
  .footer {
    font-size: 3rem;
    height: 180px;
    line-height: 180px;
  }
}


