@import './color';
@import './size';

.authors {
  margin: 7.5rem 12.5rem;
  background: linear-gradient(
                  to right,
                  $highlight,
                  $highlight 31%,
                  #fff0 31%,
                  #fff0
  );
  padding-left: 50 * $w;
  .author-card {
    width: 1420 * $w;
    height: 404 * $w;
    display: flex;
    background: #fff;
    border: 2px solid $highlight;
    margin-bottom: 3.125rem;
    padding: 62 * $w 70 * $w 40 * $w;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .author-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 26 * $w;
  }

  .rounded-avatar {
    width: 120 * $w;
    height: 120 * $w;
    border-radius: 50%;
  }

  .author-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 230 * $w;
    padding-right: 68 * $w;
    h5 {
      color: #000;
      font-size: 32 * $w;
      font-weight: bolder;

      &:hover {
        color: #00CEE8;
      }
    }
    p {
      flex: 1;
      overflow: auto;
      text-overflow: ellipsis;
    }
  }

  .author-posts {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

  }
  .author-card-item {
    display: flex;
    align-items: stretch;
    width: 47.5%;
    & > a {
      display: flex;
      flex: 1;
      align-items: stretch;
    }

    &:hover {
      .author-post-title {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 2.25rem;
        color: #fff;
      }
    }
  }
  .cover {
    flex: 1;
    background-size: cover;
  }

  .author-post-title {
    display: flex;
    flex-wrap: wrap;
    color: transparent;
    font-size: 0.1rem;
    font-weight: bolder;
    transition: all 0.1s linear;
    padding: 1.8rem 2.6rem;
    line-height: 1.2;
  }



  .author-info-card-item {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .author-post-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
    color: black;
  }
}

// .author-content {
// grid-row: 1 / span 1;
// grid-column: 2 / span 3;
// background-color: white;
// border: 2px solid $highlight;

// display: grid;
// grid-template-columns: 1fr 1fr 1fr;
// }

@media (max-width: 1080px) {
  $w: (100vw / 1500);
  .authors {
    padding-left: 50 * $w;
    margin: 7.5rem 0;
    .author-card {
      width: 1400 * $w;
      height: 404 * $w;

      //.author-name {
      //  h5 {
      //    font-size: 3rem;
      //  }
      //  p {
      //    font-size: 2rem;
      //  }
      //}

      .author-posts {
        .author-card-item {
        }
      }
    }
  }
}

@media (max-width: 800px) {
    .author-name {
      h5 {
        //font-size: 3rem;
      }
      p {
        //font-size: 2rem;
      }
    }
}
