<div class="blog-header mobile-blog-header">

  <div class="search">
    <form action="http://www.google.com/search" method="get" name="searchform" target="_blank">
      <input name="sitesearch" type="hidden" value="<%= ENV['host_for_search'] %>">
      <input class="search-input" autocomplete="on" name="q" required="required" type="text" placeholder="Search on Google" />
      <button type="submit" hidden>Search</button>
    </form>
    <i class="icon-search"></i>
  </div>

  <div class="blog-title">
    <a href="<%= root_path %>"><%= ENV['site_name'] %></a>
  </div>

  <div class="toggle-button-box" style="width: 24rem;">
    <a class="toggle-button" style="float: right;">☰</a>
  </div>
</div>
