<div class="blog-header mobile-blog-header">

  <div class="search">
    <form action="http://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
      <input name="sitesearch" type="hidden" value="<%= ENV['host_for_search'] %>">
      <input autocomplete="on" class="form-controls search" name="q" required="required" type="text">
      <button class="button" type="submit" hidden>Search</button>
    </form>
  </div>

  <div class="blog-title">
    <a href="<%= root_path %>">Small</a>
  </div>

  <div class="toggle-button-box">
    <a class="toggle-button" style="float: right;">☰</a>
  </div>
</div>
